@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");


/*COMMON*/
body { height: 4000px; }
img { vertical-align: top; }
.container {
    font-family: "Nanum Gothic", Arial, sans-serif;
}


/*TOP-CARD*/
.top-card {
    background: #111111;
    color: white;
    display: none;
}
.top-card .inner {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0 20px 0;
    position: relative;
}
.top-card .card {
    width: 527px;
    height: 74px;
    position: relative;
    letter-spacing: -1px;
}
.top-card .card.left {
    float: left;
}
.top-card .card.right {
    float: right;
}
.top-card .card .icon {
    float: left;
}
.top-card .card h1 {
    font-weight: 900;
    font-size: 16px;
    line-height: 1.8;
}
.top-card .card p {
    font-size: 14px;
    line-height: 1.4;
}
.top-card .btn-group {
    position: absolute;
    right: 20px;
    bottom: 0;
}
.top-card .card .btn {
    width: 70px;
    height: 24px;
    margin-left: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.top-card .line {
    width: 1px;
    height: 70px;
    background: #272727;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
}


/*HEADER*/
header {
    background: #F6F5EF;
    border-top: 2px solid black;
}
header > .inner {
    width: 1100px;
    height: 120px;
    margin: 0 auto;
}
header .left-inner { float: left; }
header .right-inner {
    width: 750px;
    float: right;
}

header .logo {
    float: left;
    margin-top: 22px;
}
header .sub-menu {
    float: right;
    margin-top: 10px;
}
header .sub-menu li {
    float: left;
}
header .sub-menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background: #e5e5e5;
    margin-top: 12px;
    float: left;
    display: block;
}
header .sub-menu li:first-child::before,
header .sub-menu li.search::before,
header .sub-menu li.top-card-toggle::before {
    width: 0;
    height: 0;
}
header .sub-menu li.search {
    width: 38px;
    height: 34px;
    position: relative;
    cursor: text;
}
header .sub-menu li.search input {
    width: 38px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: white;
    padding: 4px 10px;
    box-sizing: border-box;
    color: #777;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
}
header .sub-menu li.search input:focus {
    border: 1px solid #669900;
}
header .sub-menu li.search img {
    position: absolute;
    top: 7px;
    right: 9px;
}
header .sub-menu li.search:hover img {
    opacity: 0.6;
}
header .sub-menu li.top-card-toggle {
    background: url("../img/toggle_btn.png");
    width: 55px;
    height: 44px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: -10px 0 0 10px;
}
header .sub-menu li.top-card-toggle img {
    position: absolute;
    top: 0;
    left: 0;
}
header .sub-menu li.top-card-toggle img.cup {
    top: 44px;
}
header .sub-menu li.top-card-toggle img.star {
    top: -44px;
    opacity: 0.6;
}

header .sub-menu li a {
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding: 11px 16px;
    color: #656565;
    display: block;
}
header .sub-menu li a:hover {
    color: black;
}


header .main-menu {
    float: right;
    margin-top: 15px;
}
header .main-menu > li {
    float: left;
}
header .main-menu > li > a {
    height: 50px;
    padding: 10px 18px 0 18px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #333;
    display: block;
}
header .main-menu > li.on > a {
    background: #2C2A29;
    color: #669900;
}


header .mega-menu {
    background: #2C2A29;
    width: 100%;
    position: absolute;
    top: 122px;
    left: 0;
    border-bottom: 4px solid #2C2A29;
    display: none;
}
header .mega-menu > li {
}
header .mega-menu .inner {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}

header .mega-menu .texture {
    background: url("../img/pattern.jpg");
}
header .mega-menu .texture .left-figure { float: left; }
header .mega-menu .texture .right-figure { float: right; }

header .mega-menu .texture .right-figure .image {
    float: left;
    margin-right: 15px;
}
header .mega-menu .texture .right-figure .caption {
    width: 220px;
    float: left;
}

header .mega-menu .texture .caption {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 10px;
}
header .mega-menu .texture .caption h1 {
    color: #999;
    font-weight: 900;
}
header .mega-menu .texture .caption h1.new::after {
    content: url("../img/icon_new.png");
    position: relative;
    top: 3px;
    left: 5px;
}
header .mega-menu .texture .caption p {
    color: #64a70b;
}


header .mega-menu .menu > li {
    width: 220px;
    float: left;
}
header .mega-menu .menu > li h1 {
    padding: 3px 0 12px 0;
    font-size: 14px;
}
header .mega-menu .menu > li h1 a {
    color: #fff;
}
header .mega-menu .menu > li ul li {
    padding: 5px 0;
    font-size: 12px;
}
header .mega-menu .menu > li ul li a {
    color: #999;
}






























